<div class="chat-footer">
  <div class="form-row">
    <div class="input-group-prepend mr-sm-2 mr-1">
      <div class="dropdown">
        <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted text-muted"
                type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <!-- Default :: Inline SVG -->
          <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>

        </button>
        <div class="dropdown-menu cursor-pointer">
          <div class="dropdown-item">
            <!-- Default :: Inline SVG -->
            <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
            </svg>

            <span>Document</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Input Group Start -->
    <div class="col">
      <div class="input-group">

        <!-- Textarea Start-->
        <textarea [(ngModel)]="currentMessageText"
                  (keyup.enter)="onMessageSendClick()"
                  name="currentMessageText"
                  class="form-control transparent-bg border-0 no-resize hide-scrollbar text-white"
                  placeholder="Write your message..."
                  value="{{currentMessageText}}"
                  rows="1">
        </textarea>
        <!-- Textarea End -->
      </div>
    </div>
    <!-- Chat Input Group End -->

    <!-- Submit Button Start -->
    <div class="col-auto" (click)="onMessageSendClick()">
      <div class="btn btn-primary btn-icon rounded-circle text-light mb-1" role="button">
        <!-- Default :: Inline SVG -->
        <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14 5l7 7m0 0l-7 7m7-7H3"/>
        </svg>
      </div>
    </div>
    <!-- Submit Button End-->
  </div>
</div>
