<div class="chat-footer">
  <div class="form-row">
    <!-- Chat Input Group Start -->
    <div class="col">
      <div class="input-group">

        <!-- Textarea Start-->
        <textarea [(ngModel)]="currentMessageText"
                  (keyup.enter)="sendMessage($event)"
                  name="currentMessageText"
                  class="form-control transparent-bg border-0 no-resize hide-scrollbar text-white"
                  placeholder="Write your message..."
                  value="{{currentMessageText}}"
                  rows="1">
        </textarea>
        <!-- Textarea End -->
      </div>
    </div>
    <!-- Chat Input Group End -->

    <!-- Submit Button Start -->
    <div class="col-auto" (click)="onMessageSendClick($event)">
      <div class="btn btn-primary btn-icon rounded-circle text-light mb-1" role="button" >
        <!-- Default :: Inline SVG -->
        <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M14 5l7 7m0 0l-7 7m7-7H3"/>
        </svg>
      </div>
    </div>
    <!-- Submit Button End-->
  </div>
</div>
