<body class="authentication-page">
	<div class="main-layout card-bg-1">
		<div class="container d-flex flex-column">
			<div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
				<div class="col-12 col-md-6 col-lg-5 col-xl-4">
					<h1 class="font-weight-bold">Restore Password Request</h1>
					<p class="text-dark mb-3">App currently in dev mode. So, phone code sent to the email.</p>
					<form class="mb-3">
						<div class="form-group">
							<label for="phoneCode" class="sr-only">Enter email address</label>
							<input
								[(ngModel)]="phoneOrEmail"
								name="phoneOrEmail"
								type="text"
								class="form-control form-control-md"
								id="phoneCode"
								placeholder="Your email address"
							/>
						</div>
						<button
							(click)="sendPasswordRestoreRequest()"
							class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold"
							type="submit"
						>
							Request Restore Password
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
