<li class="contacts-item">
  <div class="contacts-link">
    <div class="avatar">
      <img src="../../assets/media/avatar/3.png" alt="">
    </div>
    <div class="contacts-content">
      <div class="contacts-info">
        <h6 class="chat-name text-truncate">Alice R. Botello</h6>
      </div>
      <div class="contacts-texts">
        <!-- Default :: Inline SVG -->
        <svg class="hw-16 text-muted mr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd"/>
        </svg>

        <!-- Alternate :: External File link -->
        <!-- <img class="injectable hw-16 text-muted mr-1" src="./../assets/media/heroicons/solid/location-marker.svg" alt=""> -->
        <p class="text-muted mb-0">Brentwood, NY</p>
      </div>
    </div>
  </div>
</li>
