<head>
  <meta charset="UTF-8">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <!-- SEO Meta Tags-->
  <meta name="keywords" content="quicky, chat, messenger, conversation, social, communication" />
  <meta name="description" content="Quicky is a Bootstrap based modern and fully responsive Messaging template to help build Messaging or Chat application fast and easy." />
  <meta name="subject" content="communication">
  <meta name="copyright" content="frontendmatters">
  <meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm" />
  <title>Mango Messenger - Sign Up</title>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body class="authentication-page">

<!-- Main Layout Start -->
<div class="main-layout card-bg-1">
  <div class="container d-flex flex-column">
    <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <h1 class="font-weight-bold">Send Code</h1>
        <p class="text-dark mb-3">We are Different, We Make You Different.</p>
        <form class="mb-3">
          <div class="form-group">
            <label for="phone_number" class="sr-only">Phone Number</label>
            <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control form-control-md" id="phone_number" placeholder="Enter your phone">
          </div>
          <div class="form-group">
            <label for="country_code" class="sr-only">Enter your Country Code</label>
            <input type="text" [(ngModel)]="countryCode" name="countryCode" class="form-control form-control-md" id="country_code" placeholder="Enter your country code">
          </div>
          <div class="form-group">
            <label for="finger_print" class="sr-only">Finger Print</label>
            <input type="password" [(ngModel)]="fingerPrint" name="fingerPrint" class="form-control form-control-md" id="finger_print" placeholder="Finger print (some text for the moment)">
          </div>
          <button (click)="sendCode()" class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold" type="submit">Submit</button>
        </form>

        <p>Already have an account? <a class="font-weight-semibold" href="#">Sign in</a>.</p>
      </div>
    </div>
  </div>
</div>
<!-- Main Layout End -->

</body>

