<li class="contacts-item friends">
  <a class="contacts-link" href="javascript:;">
    <div class="avatar avatar-online">
      <img src="./../assets/media/avatar/2.png" alt="">
    </div>
    <div class="contacts-content">
      <div class="contacts-info">
        <h6 class="chat-name text-truncate">{{chatName}}</h6>
        <div class="chat-time">{{lastMessageDateTime}}</div>
      </div>
      <div class="contacts-texts">
        <p class="text-truncate">{{lastMessage}}</p>
      </div>
    </div>
  </a>
</li>
