<li class="contacts-item friends active">
  <a class="contacts-link" href="javascript:;">
    <div class="avatar avatar-online">
      <img src="./../assets/media/avatar/2.png" alt="">
    </div>
    <div class="contacts-content">
      <div class="contacts-info">
        <h6 class="chat-name text-truncate">Catherine Richardson</h6>
        <div class="chat-time">Just now</div>
      </div>
      <div class="contacts-texts">
        <p class="text-truncate">Слава Xi!!</p>
      </div>
    </div>
  </a>
</li>
