<div class="contacts-link">
  <div class="avatar">
    <img src="{{getChatPictureUrl()}}" alt="">
  </div>
  <div class="contacts-content">
    <div class="contacts-info">
      <div *ngIf="chat.communityType != 1 && chat.communityType != 2; else elseDirect" class="chat-name text-truncate">
        <div>
          <div style="display: inline-block; margin-right: 10px;">
            <img src="./../../../../assets/media/icons/group.svg" />
          </div>
          <div style="display: inline-block; vertical-align: top;">{{chat.title}}</div>
        </div>
      </div>
      <ng-template #elseDirect>
        <div>
          <div style="display: inline-block; margin-right: 10px;">
            <mat-icon *ngIf="chat.communityType == 2">shield</mat-icon>
          </div>
          <div style="display: inline-block; vertical-align: top;">{{chat.title}}</div>
        </div>
      </ng-template>
      <div class="chat-time">{{chat.lastMessageTime}}</div>
    </div>
    <div class="contacts-texts">
      <p class="text-truncate" *ngIf="chatContainsMessages(); else elseBlock">
        <strong>{{chat.lastMessageAuthor}}: </strong>{{chat.lastMessageText}}
      </p>
      <ng-template #elseBlock class="text-truncate">
        Chat is currently empty.
      </ng-template>
    </div>
  </div>
</div>
