<div [ngClass]="message.self ? 'message self' : 'message'">
  <div class="message-wrapper">
    <div class="message-content">
      <div><strong>{{message.userDisplayName}}</strong></div>
      <div *ngIf="message.inReplayToAuthor && message.inReplayToText" style="padding-bottom: 10px; color: #ffb74d">
        In reply to <strong>{{message.inReplayToAuthor}}:</strong> {{message.inReplayToText}}
      </div>
      <div style="word-wrap: break-word;">{{getMessageText()}}</div>
      <div *ngIf="message.messageAttachmentUrl">
        <br>
        <img *ngIf="isImageOrGif(); else elseBlock" src="{{message.messageAttachmentUrl}}" alt="attachment" class="imageAttachment">
        <ng-template #elseBlock>
          <a class="link-warning" href="{{message.messageAttachmentUrl}}" target="_blank" >Attachment</a>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="message-options">
    <div *ngIf="message.messageAuthorPictureUrl; else elsePicture" class="avatar avatar-sm">
      <img src="{{message.messageAuthorPictureUrl}}" alt="avatar_image">
    </div>
    <ng-template #elsePicture>
      <div class="avatar avatar-sm">
        <img src="assets/media/avatar/3.png" alt="avatar_image">
      </div>
    </ng-template>
    <span class="message-date">{{message.createdAt}}</span>
    <span *ngIf="message.updatedAt" class="message-status">Edited</span>
    <div class="dropdown">
      <div class="text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- Default :: Inline SVG -->
        <svg class="hw-18 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"/>
        </svg>
      </div>

      <div class="dropdown-menu cursor-pointer">

        <div *ngIf="message.self" class="dropdown-item d-flex align-items-center" (click)="editMessage()">
          <!-- Default :: Inline SVG -->
          <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
          </svg>
          <span>Edit</span>
        </div>

        <div class="dropdown-item d-flex align-items-center" (click)="replayMessage()">
          <!-- Default :: Inline SVG -->
          <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
          </svg>
          <span>Replay</span>
        </div>

        <div *ngIf="message.self" class="dropdown-item d-flex align-items-center text-danger" (click)="deleteMessage()">
          <!-- Default :: Inline SVG -->
          <svg class="hw-18 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
          </svg>
          <span>Delete</span>
        </div>

      </div>
    </div>
  </div>
</div>
