<body class="chats-tab-open">

<!-- Main Layout Start -->
<div class="main-layout">
  <!-- Navigation Start -->
  <app-navigation-bar></app-navigation-bar>
  <!-- Navigation End -->

  <!-- Sidebar Start -->
  <aside class="sidebar">
    <!-- Tab Content Start -->
    <div class="tab-content">
      <!-- Chat Tab Content Start -->
      <div class="tab-pane active" id="chats-content">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar h-100" id="chatContactsList">

            <!-- Chat Header Start -->
            <app-chat-sidebar-header></app-chat-sidebar-header>
            <!-- Chat Header End -->

            <!-- Chat Contact List Start -->
            <ul class="contacts-list" id="chatContactTab" data-chat-list="">
              <!-- Chat Item Start -->
              <li *ngFor="let chat of chats">
                <app-chat-item-active [chatName]="chat.title"
                                      [lastMessageAuthor]="chat.lastMessageAuthor"
                                      [lastMessage]="chat.lastMessage"
                                      [lastMessageDateTime]="chat.lastMessageAt"
                                      [chatId]="chat.chatId"
                                      (click)="getChatMessages(chat.chatId)"
                                      [ngClass]="chat.chatId === activeChatId ? 'contacts-item friends active' : 'contacts-item friends'">
                </app-chat-item-active>
              </li>
              <!-- Chat Item End -->
              
            </ul>
            <!-- Chat Contact List End -->
          </div>
        </div>
      </div>
      <!-- Chats Tab Content End -->
    </div>
    <!-- Tab Content End -->
  </aside>
  <!-- Sidebar End -->

  <!-- Main Start -->
  <main class="main main-visible">

    <!-- Chats Page Start -->
    <div class="chats">
      <div class="chat-body">
        <!-- Chat Header Start-->
        <app-chat-header [chatTitle]="activeChatTitle" [membersCount]="activeChatMembersCount"></app-chat-header>
        <!-- Chat Header End-->

        <!-- Search Start -->
        <div class="collapse border-bottom px-3" id="searchCollapse">
          <div class="container-xl py-2 px-0 px-md-3">
            <div class="input-group bg-light ">
              <input type="text" class="form-control form-control-md border-right-0 transparent-bg pr-0"
                     placeholder="Search...">
              <div class="input-group-append">
                                    <span class="input-group-text transparent-bg border-left-0">
                                        <!-- Default :: Inline SVG -->
                                        <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                        </svg>

                                      <!-- Alternate :: External File link -->
                                      <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/search.svg" alt="Search icon"> -->
                                    </span>
              </div>
            </div>
          </div>

        </div>
        <!-- Search End -->

        <!-- Chat Content Start-->
        <div class="chat-content p-2" id="messageBody">
          <div class="container">

            <!-- Message Day Start -->
            <div class="message-day" id="messageList">

              <div class="message-divider sticky-top pb-2" data-label="Today">&nbsp;</div>

              <div *ngFor="let message of messages">
                <app-received-message [self]="message.self"
                                      [messageAuthor]="message.userDisplayName" [message]="message.messageText"
                                      [sentDateTime]="message.sentAt"></app-received-message>
              </div>
            </div>
            <!-- Message Day End -->
          </div>

          <!-- Scroll to finish -->
          <div class="chat-finished" id="chat-finished"></div>
        </div>
        <!-- Chat Content End-->

        <!-- Chat Footer Start-->
        <div class="chat-footer">
          <div class="form-row">
            <!-- Chat Input Group Start -->
            <div class="col">
              <div class="input-group">
                <!-- Attachment Start -->
                <div class="input-group-prepend mr-sm-2 mr-1">
                  <div class="dropdown">
                    <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted text-muted"
                            type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/plus-circle.svg" alt=""> -->
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/photograph.svg" alt=""> -->
                        <span>Gallery</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/volume-up.svg" alt=""> -->
                        <span>Audio</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/document.svg" alt=""> -->
                        <span>Document</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/user.svg" alt=""> -->
                        <span>Contact</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/location-marker.svg" alt=""> -->
                        <span>Location</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20 mr-2" src="./../assets/media/heroicons/outline/chart-square-bar.svg" alt=""> -->
                        <span>Poll</span>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Attachment End -->

                <!-- Emoji Start -->
                <div class="input-group-prepend mr-sm-2 mr-1">
                  <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted text-muted"
                          type="button">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>

                    <!-- Alternate :: External File link -->
                    <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/emoji-happy.svg" alt=""> -->
                  </button>
                </div>
                <!-- Emoji End -->

                <!-- Textarea Start-->
                <input class="form-control transparent-bg border-0 no-resize hide-scrollbar"
                       [(ngModel)]="activeMessageText"
                       placeholder="Write your message..."/>
                <!-- Textarea End -->
              </div>
            </div>
            <!-- Chat Input Group End -->

            <!-- Submit Button Start -->
            <div class="col-auto">
              <div class="btn btn-primary btn-icon rounded-circle text-light mb-1" role="button"
                   (click)="sendMessage()">
                <!-- Default :: Inline SVG -->
                <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M14 5l7 7m0 0l-7 7m7-7H3"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img src="./../assets/media/heroicons/outline/arrow-right.svg" alt="" class="injectable hw-24"> -->
              </div>
            </div>
            <!-- Submit Button End-->
          </div>
        </div>
        <!-- Chat Footer End-->
      </div>

      <!-- Chat Info Start -->
      <div class="chat-info">
        <div class="d-flex h-100 flex-column">

          <!-- Chat Info Header Start -->
          <div class="chat-info-header px-2">
            <div class="container-fluid">
              <ul class="nav justify-content-between align-items-center">
                <!-- Sidebar Title Start -->
                <li class="text-center">
                  <h5 class="text-truncate mb-0">Profile Details</h5>
                </li>
                <!-- Sidebar Title End -->

                <!-- Close Sidebar Start -->
                <li class="nav-item list-inline-item">
                  <a class="nav-link text-muted px-0" href="#" data-chat-info-close="">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-22" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"/>
                    </svg>

                    <!-- Alternate :: External File link -->
                    <!-- <img class="injectable hw-22" src="./../assets/media/heroicons/outline/x.svg" alt=""> -->

                  </a>
                </li>
                <!-- Close Sidebar End -->
              </ul>
            </div>
          </div>
          <!-- Chat Info Header End  -->

          <!-- Chat Info Body Start  -->
          <div class="hide-scrollbar flex-fill">

            <!-- User Profile Start -->
            <div class="text-center p-3">

              <!-- User Profile Picture -->
              <div class="avatar avatar-xl mx-5 mb-3">
                <img class="avatar-img" src="./../assets/media/avatar/2.png" alt="">
              </div>

              <!-- User Info -->
              <h5 class="mb-1">Catherine Richardson</h5>
              <p class="text-muted d-flex align-items-center justify-content-center">
                <!-- Default :: Inline SVG -->
                <svg class="hw-18 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img class="injectable mr-1 hw-18" src="./../assets/media/heroicons/outline/location-marker.svg" alt=""> -->
                <span>San Fransisco, CA</span>
              </p>

              <!-- User Quick Options -->
              <div class="d-flex align-items-center justify-content-center">
                <div class="btn btn-outline-default btn-icon rounded-circle mx-1">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
                  </svg>

                  <!-- Alternate :: External File link -->
                  <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/user-add.svg" alt=""> -->
                </div>
                <div class="btn btn-primary btn-icon rounded-circle text-light mx-1">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                  </svg>

                  <!-- Alternate :: External File link -->
                  <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/heart.svg" alt=""> -->
                </div>
                <div class="btn btn-danger btn-icon rounded-circle text-light mx-1">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"/>
                  </svg>

                  <!-- Alternate :: External File link -->
                  <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/ban.svg" alt=""> -->
                </div>
              </div>
            </div>
            <!-- User Profile End -->

            <!-- User Information Start -->
            <div class="chat-info-group">
              <a class="chat-info-group-header" data-toggle="collapse" href="#profile-info" role="button"
                 aria-expanded="true" aria-controls="profile-info">
                <h6 class="mb-0">User Information</h6>

                <!-- Default :: Inline SVG -->
                <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img class="injectable text-muted hw-20" src="./../assets/media/heroicons/outline/information-circle.svg" alt=""> -->
              </a>

              <div class="chat-info-group-body collapse show" id="profile-info">
                <div class="chat-info-group-content list-item-has-padding">
                  <!-- List Group Start -->
                  <ul class="list-group list-group-flush ">

                    <!-- List Group Item Start -->
                    <li class="list-group-item border-0">
                      <p class="small text-muted mb-0">Phone</p>
                      <p class="mb-0">+01-222-364522</p>
                    </li>
                    <!-- List Group Item End -->

                    <!-- List Group Item Start -->
                    <li class="list-group-item border-0">
                      <p class="small text-muted mb-0">Email</p>
                      <p class="mb-0">catherine.richardson@gmail.com</p>
                    </li>
                    <!-- List Group Item End -->

                    <!-- List Group Item Start -->
                    <li class="list-group-item border-0">
                      <p class="small text-muted mb-0">Address</p>
                      <p class="mb-0">1134 Ridder Park Road, San Fransisco, CA 94851</p>
                    </li>
                    <!-- List Group Item End -->
                  </ul>
                  <!-- List Group End -->
                </div>
              </div>
            </div>
            <!-- User Information End -->

            <!-- Shared Media Start -->
            <div class="chat-info-group">
              <a class="chat-info-group-header" data-toggle="collapse" href="#shared-media" role="button"
                 aria-expanded="true" aria-controls="shared-media">
                <h6 class="mb-0">Last Media</h6>

                <!-- Default :: Inline SVG -->
                <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img class="injectable text-muted hw-20" src="./../assets/media/heroicons/outline/photograph.svg" alt=""> -->
              </a>

              <div class="chat-info-group-body collapse show" id="shared-media">
                <div class="chat-info-group-content">
                  <!-- Shared Media -->
                  <div class="form-row">
                    <div class="col-4 col-md-2 col-xl-4">
                      <a href="#">
                        <img src="./../assets/media/shared-photos/01.jpg"
                             class="img-fluid rounded border" alt="">
                      </a>
                    </div>
                    <div class="col-4 col-md-2 col-xl-4">
                      <a href="#">
                        <img src="./../assets/media/shared-photos/02.jpg"
                             class="img-fluid rounded border" alt="">
                      </a>
                    </div>
                    <div class="col-4 col-md-2 col-xl-4">
                      <a href="#">
                        <img src="./../assets/media/shared-photos/03.jpg"
                             class="img-fluid rounded border" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Shared Media End -->

            <!-- Shared Files Start -->
            <div class="chat-info-group">
              <a class="chat-info-group-header" data-toggle="collapse" href="#shared-files" role="button"
                 aria-expanded="true" aria-controls="shared-files">
                <h6 class="mb-0">Documents</h6>

                <!-- Default :: Inline SVG -->
                <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img class="injectable text-muted hw-20" src="./../assets/media/heroicons/outline/document.svg" alt=""> -->
              </a>

              <div class="chat-info-group-body collapse show" id="shared-files">
                <div class="chat-info-group-content list-item-has-padding">
                  <!-- List Group Start -->
                  <ul class="list-group list-group-flush">

                    <!-- List Group Item Start -->
                    <li class="list-group-item">
                      <div class="document">
                        <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                          <!-- Default :: Inline SVG -->
                          <svg class="hw-24" fill="none" viewBox="0 0 24 24"
                               stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                          </svg>

                          <!-- Alternate :: External File link -->
                          <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/document.svg" alt=""> -->
                        </div>

                        <div class="document-body">
                          <h6 class="text-truncate">
                            <a href="#" class="text-reset"
                               title="effects-of-global-warming.docs">Effects-of-global-warming.docs</a>
                          </h6>

                          <ul class="list-inline small mb-0">
                            <li class="list-inline-item">
                              <span class="text-muted">79.2 KB</span>
                            </li>
                            <li class="list-inline-item">
                              <span class="text-muted text-uppercase">docs</span>
                            </li>
                          </ul>
                        </div>

                        <div class="document-options ml-1">
                          <div class="dropdown">
                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                              <!-- Default :: Inline SVG -->
                              <svg class="hw-20" fill="none" viewBox="0 0 24 24"
                                   stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                              </svg>

                              <!-- Alternate :: External File link -->
                              <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/dots-vertical.svg" alt=""> -->
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Download</a>
                              <a class="dropdown-item" href="#">Share</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!-- List Group Item End -->

                    <!-- List Group Item Start -->
                    <li class="list-group-item">
                      <div class="document">
                        <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                          <!-- Default :: Inline SVG -->
                          <svg class="hw-24" fill="none" viewBox="0 0 24 24"
                               stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                          </svg>

                          <!-- Alternate :: External File link -->
                          <!-- <img class="injectable hw-24" src="./../assets/media/icons/excel-file.svg" alt=""> -->
                        </div>

                        <div class="document-body">
                          <h6 class="text-truncate">
                            <a href="#" class="text-reset"
                               title="global-warming-data-2020.xlxs">Global-warming-data-2020.xlxs</a>
                          </h6>

                          <ul class="list-inline small mb-0">
                            <li class="list-inline-item">
                              <span class="text-muted">79.2 KB</span>
                            </li>
                            <li class="list-inline-item">
                              <span class="text-muted text-uppercase">xlxs</span>
                            </li>
                          </ul>
                        </div>

                        <div class="document-options ml-1">
                          <div class="dropdown">
                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                              <!-- Default :: Inline SVG -->
                              <svg class="hw-20" fill="none" viewBox="0 0 24 24"
                                   stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                              </svg>

                              <!-- Alternate :: External File link -->
                              <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/dots-vertical.svg" alt=""> -->
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Share</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!-- List Group Item End -->

                    <!-- List Group Item Start -->
                    <li class="list-group-item">
                      <div class="document">
                        <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                          <!-- Default :: Inline SVG -->
                          <svg class="hw-24" fill="none" viewBox="0 0 24 24"
                               stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"/>
                          </svg>

                          <!-- Alternate :: External File link -->
                          <!-- <img class="injectable hw-24" src="./../assets/media/icons/powerpoint-file.svg" alt=""> -->
                        </div>

                        <div class="document-body">
                          <h6 class="text-truncate">
                            <a href="#" class="text-reset"
                               title="great-presentation-on global-warming-2020.ppt">Great-presentation-on
                              global-warming-2020.ppt</a>
                          </h6>

                          <ul class="list-inline small mb-0">
                            <li class="list-inline-item">
                              <span class="text-muted">79.2 KB</span>
                            </li>
                            <li class="list-inline-item">
                              <span class="text-muted text-uppercase">ppt</span>
                            </li>
                          </ul>
                        </div>

                        <div class="document-options ml-1">
                          <div class="dropdown">
                            <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted"
                                    type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                              <!-- Default :: Inline SVG -->
                              <svg class="hw-20" fill="none" viewBox="0 0 24 24"
                                   stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                              </svg>

                              <!-- Alternate :: External File link -->
                              <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/dots-vertical.svg" alt=""> -->
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Download</a>
                              <a class="dropdown-item" href="#">Share</a>
                              <a class="dropdown-item" href="#">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!-- List Group Item End -->
                  </ul>
                  <!-- List Group End -->
                </div>
              </div>
            </div>
            <!-- Shared Files End -->

          </div>
          <!-- Chat Info Body Start  -->

        </div>
      </div>
      <!-- Chat Info End -->
    </div>
    <!-- Chats Page End -->

  </main>
  <!-- Main End -->

  <div class="backdrop"></div>

  <!-- All Modals Start -->

  <!-- Modal 3 :: Invite Others -->
  <div class="modal modal-lg-fullscreen fade" id="inviteOthers" tabindex="-1" role="dialog"
       aria-labelledby="inviteOthersLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-zoom">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inviteOthersLabel">Invite Others</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body hide-scrollbar">
          <form>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="inviteEmailAddress">Email address</label>
                  <input type="email" class="form-control form-control-md" id="inviteEmailAddress"
                         placeholder="Type email address here" value="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="inviteMessage">Invitation message</label>
                  <textarea class="form-control form-control-md no-resize hide-scrollbar"
                            id="inviteMessage" placeholder="Write your message here"
                            rows="3"></textarea>
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send Invitation</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 :: Notifications -->
  <div class="modal modal-lg-fullscreen fade" id="notificationModal" tabindex="-1" role="dialog"
       aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-zoom">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0 hide-scrollbar">
          <div class="row">

            <div class="col-12">
              <!-- List Group Start -->
              <ul class="list-group list-group-flush  py-2">

                <!-- List Group Item Start -->
                <li class="list-group-item">
                  <div class="media">
                    <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/user-add.svg" alt=""> -->
                    </div>

                    <div class="media-body">
                      <h6>
                        <a href="#">Catherine richardson</a> send you a friend request
                      </h6>

                      <p class="text-muted mb-0">5 mins ago</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <button type="button" class="btn btn-outline-danger mx-1">Reject</button>
                    <button type="button" class="btn btn-primary mx-1">Accept</button>
                  </div>

                </li>
                <!-- List Group Item End -->

                <!-- List Group Item Start -->
                <li class="list-group-item">
                  <div class="media">
                    <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/check-circle.svg" alt=""> -->
                    </div>

                    <div class="media-body">
                      <h6>
                        <a href="#">Katelyn Valdez</a> accepted your friend request
                      </h6>

                      <p class="text-muted mb-0">25 mins ago</p>
                    </div>
                  </div>
                </li>
                <!-- List Group Item End -->

                <!-- List Group Item Start -->
                <li class="list-group-item">
                  <div class="media">
                    <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/photograph.svg" alt=""> -->
                    </div>

                    <div class="media-body">
                      <h6>
                        <a href="#">Eva Walker</a> updated profile picture
                      </h6>

                      <p class="text-muted mb-0">5 mins ago</p>
                    </div>
                  </div>
                </li>
                <!-- List Group Item End -->

                <!-- List Group Item Start -->
                <li class="list-group-item">
                  <div class="media">
                    <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/check-circle.svg" alt=""> -->
                    </div>

                    <div class="media-body">
                      <h6>
                        <a href="#">Bonnie Torres</a> accepted your friend request
                      </h6>

                      <p class="text-muted mb-0">5 mins ago</p>
                    </div>
                  </div>
                </li>
                <!-- List Group Item End -->

                <!-- List Group Item Start -->
                <li class="list-group-item">
                  <div class="media">
                    <div class="btn btn-primary btn-icon rounded-circle text-light mr-2">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                      </svg>

                      <!-- Alternate :: External File link -->
                      <!-- <img class="injectable hw-24" src="./../assets/media/heroicons/outline/photograph.svg" alt=""> -->
                    </div>

                    <div class="media-body">
                      <h6>
                        <a href="#">Christopher Garcia</a> updated profile picture
                      </h6>

                      <p class="text-muted mb-0">5 mins ago</p>
                    </div>
                  </div>
                </li>
                <!-- List Group Item End -->


              </ul>
              <!-- List Group End -->
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-link text-muted">Clear all</button>
        </div>
      </div>
    </div>
  </div>

  <!-- All Modals End -->
</div>
<!-- Main Layout End -->

</body>
