<body class="chats-tab-open">

<!-- Main Layout Start -->
<div class="main-layout">
  <!-- Navigation Start -->
  <app-navigation-bar [activeRoute]="'chats'"></app-navigation-bar>
  <!-- Navigation End -->

  <!-- Sidebar Start -->
  <aside class="sidebar">
    <!-- Tab Content Start -->
    <div class="tab-content">
      <!-- Chat Tab Content Start -->
      <div class="tab-pane active" id="chats-content">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar h-100" id="chatContactsList">

            <!-- Chat Header Start -->
            <div class="sidebar-header sticky-top p-2">

              <div class="d-flex justify-content-between align-items-center">
                <!-- Chat Tab Pane Title Start -->
                <h5 class="font-weight-semibold mb-0">Chats</h5>
                <!-- Chat Tab Pane Title End -->

                <ul class="nav flex-nowrap">

                  <li class="nav-item list-inline-item mr-1">
                    <div class="nav-link text-muted px-1" title="Notifications" role="button" data-toggle="modal"
                         data-target="#notificationModal">
                      <!-- Default :: Inline SVG -->
                      <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                      </svg>
                    </div>
                  </li>

                  <li class="nav-item list-inline-item mr-0">
                    <div class="dropdown">
                      <div class="nav-link text-muted px-1" role="button" title="Details"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                        </svg>
                      </div>

                      <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-item" role="button" data-toggle="modal" data-target="#startConversation">
                          New Chat
                        </div>
                        <div class="dropdown-item" role="button" data-toggle="modal" data-target="#createGroup">Create
                          Group
                        </div>
                        <div class="dropdown-item" role="button" data-toggle="modal" data-target="#inviteOthers">
                          Invite Others
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


              <!-- Sidebar Header Start -->
              <div class="sidebar-sub-header">
                <!-- Sidebar Header Dropdown Start -->
                <div class="dropdown mr-2">
                  <!-- Dropdown Button Start -->
                  <button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{chatFilter}}
                  </button>
                  <!-- Dropdown Button End -->

                  <!-- Dropdown Menu Start -->
                  <div class="dropdown-menu">
                    <div class="dropdown-item" (click)="onChatFilerClick('All Chats')">All Chats</div>
                    <div class="dropdown-item" (click)="onChatFilerClick('Groups')">Groups</div>
                    <div class="dropdown-item" (click)="onChatFilerClick('Direct Chats')">Direct Chats</div>
                    <div class="dropdown-item" (click)="onChatFilerClick('Archived')">Archived</div>
                  </div>
                  <!-- Dropdown Menu End -->
                </div>
                <!-- Sidebar Header Dropdown End -->

                <!-- Sidebar Search Start -->
                <form class="form-inline">
                  <div class="input-group">
                    <input [(ngModel)]="searchQuery" name="searchQuery" type="text"
                           class="form-control search border-right-0 transparent-bg pr-0"
                           placeholder="Search chats..." value="{{searchQuery}}">
                    <div class="input-group-append">
                      <div class="input-group-text transparent-bg border-left-0" role="button"
                           (click)="onSearchClick()">
                        <!-- Default :: Inline SVG -->
                        <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/search.svg" alt=""> -->
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Sidebar Search End -->
              </div>
              <!-- Sidebar Header End -->
            </div>
            <!-- Chat Header End -->

            <!-- Chat Contact List Start -->
            <ul class="contacts-list" id="chatContactTab" data-chat-list="">
              <!-- Chat Item Start -->
              <li *ngFor="let chat of chats">
                <app-chat-item-active [chat]="chat" (click)="getChatMessages(chat.chatId)"
                                      [ngClass]="getMessageComponentClass(chat)">
                </app-chat-item-active>
              </li>
              <!-- Chat Item End -->

            </ul>
            <!-- Chat Contact List End -->
          </div>
        </div>
      </div>
      <!-- Chats Tab Content End -->
    </div>
    <!-- Tab Content End -->
  </aside>
  <!-- Sidebar End -->

  <!-- Main Start -->
  <main class="main main-visible">

    <!-- Chats Page Start -->
    <div class="chats">
      <div class="chat-body">
        <!-- Chat Header Start-->
        <div class="chat-header">
          <!-- Chat Back Button (Visible only in Small Devices) -->
          <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button"
                  data-close="">
            <!-- Default :: Inline SVG -->
            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
            </svg>

            <!-- Alternate :: External File link -->
            <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/arrow-left.svg" alt=""> -->
          </button>

          <!-- Chat participant's Name -->
          <div class="media chat-name align-items-center text-truncate">
            <div class="avatar avatar-online d-none d-sm-inline-block mr-3">
              <img src="./../assets/media/avatar/2.png" alt="">
            </div>

            <div class="media-body align-self-center ">
              <h6 class="text-truncate mb-0">{{activeChat.title}}</h6>
              <small class="text-muted">{{activeChat.membersCount}} Members</small>
            </div>
          </div>

          <!-- Chat Options -->
          <ul class="nav flex-nowrap">
            <li class="nav-item list-inline-item d-none d-sm-block mr-1">
              <div class="nav-link text-muted px-1" data-toggle="collapse" data-target="#searchCollapse"
                   aria-expanded="false">
                <!-- Default :: Inline SVG -->
                <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img src="./../assets/media/heroicons/outline/search.svg" alt="" class="injectable hw-20"> -->
              </div>
            </li>

            <li class="nav-item list-inline-item d-none d-sm-block mr-0">
              <div class="dropdown">
                <div class="nav-link text-muted px-1" role="button" title="Details"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                  </svg>
                </div>

                <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-item align-items-center d-flex" (click)="onArchiveChatClick()">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"/>
                    </svg>

                    <!-- Alternate :: External File link -->
                    <!-- <img src="./../assets/media/heroicons/outline/archive.svg" alt="" class="injectable hw-20 mr-2"> -->
                    <span>Archive Chat</span>
                  </div>
                  <div class="dropdown-item align-items-center d-flex" (click)="onLeaveChatClick()">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                    </svg>

                    <!-- Alternate :: External File link -->
                    <!-- <img src="./../assets/media/heroicons/outline/trash.svg" alt="" class="injectable hw-20 mr-2"> -->
                    <span class="text-danger">Leave Chat</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Chat Header End-->

        <!-- Search Start -->
        <div class="collapse border-bottom px-3" id="searchCollapse">
          <div class="container-xl py-2 px-0 px-md-3">
            <div class="input-group bg-light ">
              <input type="text" class="form-control form-control-md border-right-0 transparent-bg pr-0"
                     placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text transparent-bg border-left-0">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                  </svg>
                </span>
              </div>
            </div>
          </div>

        </div>
        <!-- Search End -->

        <!-- Chat Content Start-->
        <div class="chat-content p-2" id="messageBody">
          <div class="container">

            <!-- Message Day Start -->
            <div class="message-day" id="messageList">

              <div *ngFor="let message of messages">
                <app-received-message [message]="message"
                                      (notifyParentOnDeleteMessage)="deleteMessageFromMemory($event)"></app-received-message>
              </div>
            </div>
            <!-- Message Day End -->
          </div>

          <!-- Scroll to finish -->
          <div class="chat-finished" id="chat-finished"></div>
        </div>
        <!-- Chat Content End-->

        <!-- Chat Footer Start-->
        <app-chat-footer [chatId]="activeChatId" [isMember]="activeChat.isMember"
                         (notifyParentOnSendMessage)="onMessageSend()"></app-chat-footer>
        <!-- Chat Footer End-->
      </div>
    </div>
    <!-- Chats Page End -->

  </main>
  <!-- Main End -->

  <div class="backdrop"></div>

</div>
<!-- Main Layout End -->

</body>
