<body class="chats-tab-open">

<!-- Main Layout Start -->
<div class="main-layout">
  <!-- Navigation Start -->
  <app-navigation-bar [activeRoute]="'chats'"></app-navigation-bar>
  <!-- Navigation End -->

  <!-- Sidebar Start -->
  <aside class="sidebar">
    <!-- Tab Content Start -->
    <div class="tab-content">
      <!-- Chat Tab Content Start -->
      <div class="tab-pane active" id="chats-content">
        <div class="d-flex flex-column h-100">
          <div class="hide-scrollbar h-100" id="chatContactsList">

            <!-- Chat Header Start -->
            <div class="sidebar-header sticky-top p-2">

              <div class="d-flex justify-content-between align-items-center">
                <!-- Chat Tab Pane Title Start -->
                <h3 class="font-weight-semibold mb-0">Chats</h3>
                <!-- Chat Tab Pane Title End -->

                <ul class="nav flex-nowrap">

                  <li class="nav-item list-inline-item mr-0">
                    <div class="dropdown">
                      <div class="nav-link text-muted px-1" role="button" title="Details"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- Default :: Inline SVG -->
                        <svg class="hw-20" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                        </svg>
                      </div>

                      <div class="dropdown-menu dropdown-menu-right">
                        <button mat-raised-button class="dropdown-item" (click)="openCreateGroupDialog()">Create Group
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


              <!-- Sidebar Header Start -->
              <div class="sidebar-sub-header">
                <!-- Sidebar Header Dropdown Start -->
                <div class="dropdown mr-2">
                  <!-- Dropdown Button Start -->
                  <button class="btn btn-outline-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{chatFilter}}
                  </button>
                  <!-- Dropdown Button End -->

                  <!-- Dropdown Menu Start -->
                  <div class="dropdown-menu">
                    <div class="dropdown-item cursor-pointer" (click)="onChatFilerClick('All Chats')">All Chats</div>
                    <div class="dropdown-item cursor-pointer" (click)="onChatFilerClick('Groups')">Groups</div>
                    <div class="dropdown-item cursor-pointer" (click)="onChatFilerClick('Direct Chats')">Direct Chats
                    </div>
                    <div class="dropdown-item cursor-pointer" (click)="onChatFilerClick('Archived')">Archived</div>
                  </div>
                  <!-- Dropdown Menu End -->
                </div>
                <!-- Sidebar Header Dropdown End -->

                <!-- Sidebar Search Start -->
                <form class="form-inline">
                  <div class="input-group">
                    <input [(ngModel)]="searchQuery" name="searchQuery" type="text"
                           class="form-control search border-right-0 transparent-bg pr-0 text-white"
                           placeholder="Search chats..." value="{{searchQuery}}"
                           (keyup.enter)="onSearchClick()">
                    <div class="input-group-append">
                      <div class="input-group-text transparent-bg border-left-0" role="button"
                           (click)="onSearchClick()">
                        <!-- Default :: Inline SVG -->
                        <svg class="text-muted hw-20" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                        </svg>

                        <!-- Alternate :: External File link -->
                        <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/search.svg" alt=""> -->
                      </div>
                    </div>
                  </div>
                </form>
                <!-- Sidebar Search End -->
              </div>
              <!-- Sidebar Header End -->
            </div>
            <!-- Chat Header End -->

            <!-- Chat Contact List Start -->
            <ul class="contacts-list" id="chatContactTab">
              <!-- Chat Item Start -->
              <li *ngFor="let chat of chats">
                <app-chat-item-active [chat]="chat"
                                      (click)="navigateToChat(chat.chatId)"
                                      [ngClass]="getMessageComponentClass(chat)">
                </app-chat-item-active>
              </li>
              <!-- Chat Item End -->
            </ul>
            <!-- Chat Contact List End -->
          </div>
        </div>
      </div>
      <!-- Chats Tab Content End -->
    </div>
    <!-- Tab Content End -->
  </aside>
  <!-- Sidebar End -->

  <!-- Main Start -->
  <main class="main main-visible">

    <!-- Chats Page Start -->
    <div *ngIf="noActiveChat()" class="chats">
      <div class="chat-body">
        <!-- Chat Header Start-->
        <div class="chat-header">
          <!-- Chat Back Button (Visible only in Small Devices) -->
          <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button"
                  data-close="">
            <!-- Default :: Inline SVG -->
            <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
            </svg>

          </button>

          <!-- Chat participant's Name -->
          <div class="media chat-name align-items-center text-truncate">
            <div class="avatar avatar-online d-none d-sm-inline-block mr-3">
              <img src="assets/media/avatar/3.png" alt="avatar_example">
            </div>

            <div class="media-body align-self-center">
              <h3 class="text-truncate mb-0">{{activeChat.title}}</h3>
              <small class="text-muted">{{activeChat.description}}</small>
              <br>
              <small class="text-muted">{{activeChat.membersCount}} Members</small>
            </div>
          </div>

          <!-- Chat Options -->
          <ul *ngIf="activeChat.isMember" class="nav flex-nowrap">

            <li class="nav-item list-inline-item d-none d-sm-block mr-1">
              <a class="nav-link text-muted px-1" data-toggle="collapse" data-target="#searchCollapse"
                 href="#" aria-expanded="false">
                <!-- Default :: Inline SVG -->
                <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                </svg>

                <!-- Alternate :: External File link -->
                <!-- <img src="./../assets/media/heroicons/outline/search.svg" alt="" class="injectable hw-20"> -->
              </a>
            </li>

            <li class="nav-item list-inline-item d-none d-sm-block mr-0">
              <div class="dropdown">
                <div class="nav-link text-muted px-1" role="button" title="Details"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Default :: Inline SVG -->
                  <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
                  </svg>
                </div>

                <div class="dropdown-menu dropdown-menu-right cursor-pointer">
                  <div class="dropdown-item align-items-center d-flex" (click)="onArchiveChatClick()">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"/>
                    </svg>

                    <span *ngIf="!activeChat.isArchived; else unArchiveChat">Archive Chat</span>
                    <ng-template #unArchiveChat>
                      <span>Un-archive Chat</span>
                    </ng-template>
                  </div>
                  <div class="dropdown-item align-items-center d-flex cursor-pointer" (click)="onLeaveChatClick()">
                    <!-- Default :: Inline SVG -->
                    <svg class="hw-20 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
                    </svg>

                    <span class="text-danger">Leave Chat</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Chat Header End-->

        <div class="collapse border-bottom px-3" id="searchCollapse">
          <div class="container-xl py-2 px-0 px-md-3">
            <div class="input-group bg-light ">
              <input type="text" class="form-control form-control-md border-right-0 transparent-bg pr-0"
                     placeholder="Search...">
              <div class="input-group-append">
                                    <span class="input-group-text transparent-bg border-left-0">
                                        <!-- Default :: Inline SVG -->
                                        <svg class="hw-20 text-muted" fill="none" viewBox="0 0 24 24"
                                             stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                                        </svg>

                                      <!-- Alternate :: External File link -->
                                      <!-- <img class="injectable hw-20" src="./../assets/media/heroicons/outline/search.svg" alt="Search icon"> -->
                                    </span>
              </div>
            </div>
          </div>

        </div>

        <!-- Chat Content Start-->
        <div class="chat-content p-2" id="messageBody">
          <div class="container">

            <!-- Message Day Start -->
            <div class="message-day" id="messageList">

              <div *ngFor="let message of messages">
                <app-received-message [message]="message"
                                      (notifyParentOnDeleteMessage)="onDeleteMessageEvent($event)">
                </app-received-message>
              </div>
            </div>
            <!-- Message Day End -->
          </div>
        </div>
        <!-- Chat Content End-->

        <!-- Chat Footer Start-->
        <ng-container *ngIf="activeChat.isMember; else elseBlock">
          <app-chat-footer [chat]="activeChat"
                           (notifyParentOnSendMessage)="onMessageSendEvent()">
          </app-chat-footer>
        </ng-container>
        <ng-template #elseBlock>
          <app-join-group [chatId]="activeChat.chatId"
                          (notifyParentOnJoinGroup)="onJoinGroupEvent()">
          </app-join-group>
        </ng-template>
        <!-- Chat Footer End-->
      </div>
    </div>
    <!-- Chats Page End -->

  </main>
  <!-- Main End -->

</div>
<!-- Main Layout End -->
</body>
