::ng-deep {
    .mat-datepicker-content {
        background-color: #383f44;
        color: #fff;
    }
    .mat-calendar-body-label, .ng-star-inserted, .mat-calendar-body-cell-content,
    .mat-calendar-previous-button::after, .mat-calendar-next-button::after {
        color: #fff;
    }
    .mat-calendar-arrow {
        border-color: #fff;
    }
}