<body class="profile-tab-open">

<!-- Main Layout Start -->
<div class="main-layout">

  <!-- Navigation Start -->
  <app-navigation-bar [activeRoute]="'profile-settings'"></app-navigation-bar>
  <!-- Navigation End -->

  <!-- Sidebar Start -->
  <app-profile-settings-sidebar [user]="currentUser" [phoneNumber]="phoneNumber"></app-profile-settings-sidebar>
  <!-- Sidebar End -->

  <!-- Main Start-->
  <main class="main">
    <!-- Profile Settings Start -->
    <div class="profile">
      <div class="page-main-heading sticky-top py-2 px-3 mb-3">

        <!-- Chat Back Button (Visible only in Small Devices) -->
        <button class="btn btn-secondary btn-icon btn-minimal btn-sm text-muted d-xl-none" type="button"
                data-close="">
          <svg class="hw-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
          </svg>
        </button>

        <div class="pl-2 pl-xl-0">
          <h3 class="font-weight-semibold">Settings</h3>
          <p class="text-muted mb-0">Update Personal Information &amp; Settings</p>
        </div>
      </div>

      <div class="container-xl px-2 px-sm-3">
        <div class="row">
          <div class="col">
            <div class="card mb-3">
              <div class="card-header">
                <h3 class="mb-1">Account</h3>
                <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input [(ngModel)]="currentUser.firstName" type="text" class="form-control form-control-md"
                             id="firstName"
                             placeholder="Type your first name" value="{{currentUser.firstName}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input [(ngModel)]="currentUser.lastName" type="text" class="form-control form-control-md"
                             id="lastName"
                             placeholder="Type your last name" value="{{currentUser.lastName}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="mobileNumber">Mobile number</label>
                      <input [(ngModel)]="currentUser.phoneNumber"
                             type="number"
                             class="form-control form-control-md"
                             id="mobileNumber"
                             placeholder="Type your mobile number" value="{{currentUser.phoneNumber}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="birthDate">Birth date</label>
                      <input [(ngModel)]="currentUser.birthdayDate" type="text" class="form-control form-control-md"
                             id="birthDate"
                             placeholder="dd/mm/yyyy" value="{{currentUser.birthdayDate}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="emailAddress">Email address</label>
                      <input [(ngModel)]="currentUser.email"
                             type="email"
                             class="form-control form-control-md"
                             id="emailAddress"
                             placeholder="Type your email address"
                             value="{{currentUser.email}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="webSite">Website</label>
                      <input [(ngModel)]="currentUser.website" type="text" class="form-control form-control-md"
                             id="webSite"
                             placeholder="Type your website" value="{{currentUser.website}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="userName">Username</label>
                      <input [(ngModel)]="currentUser.username" type="text" class="form-control form-control-md"
                             id="username"
                             placeholder="Type your user name" value="{{currentUser.username}}">
                    </div>
                  </div>

                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="displayName">Display Name</label>
                      <input [(ngModel)]="currentUser.displayName" type="text" class="form-control form-control-md"
                             id="displayName"
                             placeholder="Type your display name" value="{{currentUser.displayName}}">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="bio">Bio</label>
                      <input [(ngModel)]="currentUser.bio" type="text" class="form-control form-control-md" id="bio"
                             placeholder="Any details about you"
                             value="{{currentUser.bio}}">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="Address">Address</label>
                      <input [(ngModel)]="currentUser.address" type="text" class="form-control form-control-md"
                             id="Address"
                             placeholder="Type your address"
                             value="{{currentUser.address}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer d-flex justify-content-end">
                <button (click)="initializeView()" type="button" class="btn btn-link text-muted mx-1">Reset</button>
                <button (click)="saveAccountInfo()" type="button" class="btn btn-primary">Save Changes</button>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header">
                <h3 class="mb-1">Social network profiles</h3>
                <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="facebookId">Facebook</label>
                      <input [(ngModel)]="currentUser.facebook" type="text" class="form-control form-control-md"
                             id="facebookId"
                             placeholder="Username" value="{{currentUser.facebook}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="twitterId">Twitter</label>
                      <input [(ngModel)]="currentUser.twitter" type="text" class="form-control form-control-md"
                             id="twitterId"
                             placeholder="Username" value="{{currentUser.twitter}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="instagramId">Instagram</label>
                      <input [(ngModel)]="currentUser.instagram" type="text" class="form-control form-control-md"
                             id="instagramId"
                             placeholder="Username" value="{{currentUser.instagram}}">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="linkedinId">Linkedin</label>
                      <input [(ngModel)]="currentUser.linkedIn" type="text" class="form-control form-control-md"
                             id="linkedinId"
                             placeholder="Username" value="{{currentUser.linkedIn}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer d-flex justify-content-end">
                <button (click)="initializeView()" type="button" class="btn btn-link text-muted mx-1">Reset</button>
                <button (click)="saveSocialMediaInfo()" type="button" class="btn btn-primary">Save Changes</button>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header">
                <h3 class="mb-1">Password</h3>
                <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
              </div>

              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="current-password">Current Password</label>
                        <input [(ngModel)]="currentPassword"
                               type="password"
                               class="form-control form-control-md"
                               id="current-password"
                               placeholder="Current password"
                               value="{{currentPassword}}"
                               name="current-password"
                               autocomplete="on">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="new-password">New Password</label>
                        <input [(ngModel)]="newPassword"
                               type="password"
                               class="form-control form-control-md"
                               id="new-password"
                               placeholder="New password"
                               autocomplete="off"
                               name="new-password"
                               value="{{newPassword}}">
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <label for="repeat-password">Repeat Password</label>
                        <input [(ngModel)]="repeatNewPassword"
                               type="password"
                               class="form-control form-control-md"
                               id="repeat-password"
                               placeholder="Repeat password"
                               value="{{repeatNewPassword}}"
                               name="repeat-password"
                               autocomplete="off">
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="card-footer d-flex justify-content-end">
                <button (click)="initializeView()" type="button" class="btn btn-link text-muted mx-1">Reset</button>
                <button (click)="changePassword()" type="button" class="btn btn-primary">Save Changes</button>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header">
                <h3 class="mb-1">Update Profile picture</h3>
                <p class="mb-0 text-muted small">Update personal &amp; contact information</p>
              </div>

              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group">
                        <input type="file" class="btn btn-close-white" name="picture"
                               (change)="onFileSelected($event)">
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="card-footer d-flex justify-content-end">
                <button (click)="updateProfilePicture()" type="button" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Settings End -->
  </main>
  <!-- Main End-->
</div>
<!-- Main Layout End -->
</body>
