::ng-deep {

	.mat-dialog-container {
		background: #383f44;
	}

	.mat-form-field {
		color: #fff;
	}

	mat-label {
		color: #fff;
	}
}

p {
	color: #fff;
}

.cancel {
	background: #d71a1a;
}

.ok {
	color: #fff;
	&:hover {
		background: #8b8989;
	}
}

