<body class="authentication-page">

<div class="main-layout card-bg-1">
  <div class="container d-flex flex-column">
    <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <h1 class="font-weight-bold">Verify Phone Code</h1>
        <p class="text-dark mb-3">We are Different, We Make You Different.</p>
        <form class="mb-3">
          <div class="form-group">
            <label for="phoneCode" class="sr-only">Enter Phone Code</label>
            <input [(ngModel)]="phoneCode" name="phoneCode" type="number" class="form-control form-control-md"
                   id="phoneCode"
                   placeholder="Enter Phone Code">
          </div>
          <button (click)="verifyPhone()" class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold"
                  type="submit">Verify Phone
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
