::ng-deep mat-dialog-container {
  background-color: #495057 !important;
  user-select: none;
}

p {
  color: #dbd8d8;
}

input {
  color: #dbd8d8;
}

::ng-deep mat-label {
  color: #b7b4b4;
}

::ng-deep select {
  background: #495057;
  color: #c9c9c0;
  border-radius: 8px;
  padding: 5px;
}
