<div mat-dialog-container>
  <h1 mat-dialog-title>Create group</h1>
  <div mat-dialog-content>
    <p>Enter title of the group</p>
    <mat-form-field appearance="fill">
      <mat-label>Title of the group</mat-label>
      <input [(ngModel)]="groupTitle" matInput>
    </mat-form-field>
    
    <p>Description of the group</p>
    <mat-form-field appearance="fill">
      <mat-label>Description of the chat</mat-label>
      <input matInput [(ngModel)]="groupDescription">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-danger" mat-button style="color: #dbd8d8" (click)="onNoClick()">Cancel</button>
    <button mat-button style="color: #dbd8d8" (click)="onCreateGroupClick()" cdkFocusInitial>Ok</button>
  </div>
</div>